:root {
  /* Likes width will always be the remainder of these two */
  --image-size: 20vw;
  --name-width: 50vw;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-left: 2rem;
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  /* margin: 0.5rem 0; */
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  width: 100vw;
  border-top: 1px solid #000;
  align-items: center;
}

img {
  width: var(--image-size);
  height: var(--image-size);
}

div.name {
  padding: 0 1rem;
  width: var(--name-width);
}